.aa{
    width:500px;
    background-color: oldlace;
    padding: 8px;
}
.bb{
    width:100%;
    background-color: tan;
    padding: 8px;
}
.cc{
    width:100%;
    background-color: lightgreen;
    padding: 8px;
}
